.window-app {
  font-family: $font-primary; 
  font-size:17px;

  a:hover {
    text-shadow: 0 0 8px #000;
  }

  .rollable {
    &:hover,
    &:focus {
      //color: #000;
      text-shadow: 0 0 8px #000;
      cursor: pointer;
    }
  }

  &.cof.sheet.actor {
    min-width: 765px;
    overflow: visible;
  }

  &.cof.sheet.item {
    min-width: 430px;
    overflow: hidden;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;  
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 140px;
  background-color: rgba(0, 0, 0,0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size:15px;
  font-weight:normal;
  margin:0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

.message-description{
  text-align: justify;
  padding: 0 5px;
  font-family: $font-primary;
  line-height: 1.1;
  font-size: 1.1em;
}
.big-tooltip{  
    position: fixed;
    max-width: 320px;
    width: 320px;    
    padding: 10px;
    border: 1px solid #b4b39e;
    border-radius: 3px;
    z-index: 5;
    font-family: $font-primary;
    line-height: 1.2;
    font-size: 1.2em;
    /* background: url(../ui/bg-2.png);*/
    box-shadow: 0 5px 10px;    
}

.big-tooltip #desc-content{
    text-align: justify;
}
.big-tooltip h2{
    padding-bottom:2px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

.big-tooltip #desc-img{
  background: #aaaaaa;
  vertical-align: sub;
  margin-right: 4px;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

.tooltip-left {
    top: -15px;
    bottom: auto;
    right: 110%;
}

.tooltip-right {
    top: -15px;
    left: 110%;
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}

.tooltip-move-up {
    top: -26px;  
}

.tooltip .tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

// foundry overrides
.editor-content{
  min-height:100px;
}

#token-hud .status-effects {
  grid-template-columns: 33px 33px 33px 33px;
  width: 132px;
}
#token-hud .status-effects .effect-control {
    width: 32px;
    height: 32px;  
}

.buff{
  color: #fff;
  background-color: #305371;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-right: 1px;
  .remove-buff{
    margin-left:5px; 
    cursor:pointer;
  }
}

.add-buff{
  color: #fff;
  background-color: #3d77a9;
  padding: 4px;
  border-radius: 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.hidden{
  display:none;
}

.cellEffect{        
    padding:3px;     
}
.cof input:disabled{
    color: #aaaaaa
}
.disabled{
    color: #aaaaaa
}

.dialog-content{
   hr{
    margin-right: auto;
    margin-left: auto;    
    width: 50%;
    border-bottom: 1px solid #b4b39e;
    border-top: none;
  }
}
/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
//::-webkit-scrollbar {
//  width: 6px;
//}
//::-webkit-scrollbar-track {
//  box-shadow: 0 0 1px #999 inset;
//  border-radius: 4px;
//}
//::-webkit-scrollbar-thumb {
//  outline: none;
//  border-radius: 3px;
//  background: $c-dark;
//  border: 1px solid $c-dark;
//}
//:root {
//  scrollbar-width: thin;
//  scrollbar-color: $c-dark #111;
//}