<div style="padding:5px">
<div class="flexrow right">
    <div style="margin:5px">Dice bonus</div>
    <input type="number" value="0" id="diceBonus"/>
</div>
<div class="flexrow right">
    <div style="margin:5px">Free nudges</div>
    <input type="number" value="0" id="freeNudges"/>
</div>
</div>