<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img">
            <header class="center character-header">
            </header>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="border:none;width:80%;height:unset;margin-left:10%;"/> 
        </div>        
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>  
            {{log actor}}          
            <input id="concept" name="data.concept" type="text" value="{{actor.data.concept}}" placeholder="Concept" />
            <div class="center">
                <input name="data.race" type="text" value="{{actor.data.race}}" placeholder="Race"/>/
                <input name="data.sex" type="text" value="{{actor.data.sex}}" placeholder="Sex"/>/
                <input name="data.age" type="text" value="{{actor.data.age}}" placeholder="age"/>/
                <input name="data.height" type="text" value="{{actor.data.height}}" placeholder="Height"/>/
                <input name="data.weight" type="text" value="{{actor.data.weight}}" placeholder="Weight"/>
            </div>    
            {{> "systems/mistborn/templates/parts/character-stats.hbs"}}
        </div>        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="traits">Traits & Burdens</a>
        <a class="item" data-tab="powers">Powers</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="story">Story</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="traits">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>                   
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>