  
<div class="flexrow">
  <div style="border-right:1px solid #999; padding: 2px">
    <div class="center">Traits</div>      
    {{editor content=data.traits target="data.traits" button=true owner=owner editable=editable}}
  </div>
  <div style="padding: 2px">  
    <div class="center">Burdens</div>      
    {{editor content=data.burdens target="data.burdens" button=true owner=owner editable=editable}}
  </div>
</div>